@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
  
}
header{
  display: grid;
  justify-content:  center;
}
.top-banner{
  background-image: url(images/Banner-Image.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #212121;
  width: 960px;
  padding:20px 30px;
  border-radius: 5px;
  margin: 20px auto;
  
  
}
.top-banner-container h2{
  color:#fff;
  font-size: 2em;
}
.top-banner-container p{
  color: #fff;
  font-size: 1em;
}

.top-banner-btn{
   background-color:#D50000;
   width: 150px;
   text-decoration: none;
   border-radius: 3px;
   text-align: center;
   display: block;
   padding: 10px 20px;
   color:#fff;
   font-weight: 500;
}

}

main{
 display: grid;
 justify-content: center;
}
.container{
   margin-top: 50px;
   
  
  
  
}

.btn{
  
}
.btn a{
 text-decoration: none;
 color: #fff;
 background-color: #9B0E0E;
}

/*-----------
 Blog Section Style
-------------*/

.blog-container{
width:700px;

display: flex;
}


.side-bar {
 width: 250px;
 background-color: #212121;
 height: 200px;
 padding: 20px;


}

.side-bar .side-bar-list-item {
 background-color: #fff;
 border: 1px solid #eee;
 margin-bottom: 20px;
 border-radius: 5px;
 
}

.side-bar .side-bar-list-item :hover{
 background-color: red;
 border: 1px solid #eee;
 margin-bottom: 20px;
 border-radius: 5px;
 
 
}

.side-bar .side-bar-list-item a{
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  
 
  
}
.side-bar .side-bar-list-item a:hover {
  display: block;
  text-decoration: none;
  color:#fff;
  text-align: center;
 
  
}
/*Blogs Style*/
.blogs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  padding:30px 15px;
  
}
.blog{
width: 350px;
padding: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 3px;
}
.blog-banner img{
  width: 350px;
  height: 250px;
}
.blog-btn{
  padding: 10px;
}
.blog-info{
  display: flex;
  justify-content: space-between;
  
}

/*--- view all button only for Tablet ---*/
.view-all-btn{
  background-color:#D50000; 
  width: 150px;
  margin-bottom:30px; 
  border-radius: 3px;
  display: none;
}
.view-all-btn a{
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px 20px;
  color:#fff;
  font-weight: 500;
  
}

/*---------
Footer Style
-----------*/
footer{
  background-color: #212121;
  padding: 40px;
}
.footer-heading{
  text-align: center;
  color:#fff;
}
.footer-link{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-top:30px;
}

.footer-link a{
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}

/*------------------------------
Media Queries For Mobile device
--------------------------------*/

@media only screen and(max-width: 500px){
  body{
    background-color: yellow;
  }
  .top-banner {
    background-color: red;
    width: 100%;
   
  }
  .top-banner-container{
    display: flex;
    flex-direction: column;
  }
  .blog-container {
    display: flex;
    flex-direction: column;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 10px;
    
  }
  .footer-link{
    display: flex;
    flex-direction: column;
  }
}

/*------------------------------
Media Queries For Tablet device
--------------------------------*/

@media only screen and(min-width:501px) and(max-width:1366px){
  body{
    background-color: yellow;
  }
  .top-banner{
    width: 80%;
  }
  .blog-container {
    width: 100%;
    display: flex;
    flex-direction:column;
  }
  
  .side-bar{
    display: flex;
    justify-items: center;
  }
  
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 30px 15px;
  
  }
  
.view-all-btn{
  display: block;
}
    
  
  
}
