body {
    
    background-color: #fff;
    margin: 0;
    padding: 0;
}


main{
 display: grid;
 justify-content: center;
}
.container{
   margin-top: 50px;
   
  
  
  
}

.btn{
  
}
.btn a{
 text-decoration: none;
 color: #fff;
 background-color: #9B0E0E;
}

/*-----------
 Blog Section Style
-------------*/

.blog-container{
width:700px;

display: flex;


 
  
}
.side-menu{
 width: 150px;
 background-color: #212121;
 height: 200px;
 margin:30px 7px;
}
.side-bar {
  
 
}
.side-bar ul{
  list-style: none;
}
.side-bar ul li{
 background-color: #fff;
 border: 1px solid #eee;
 margin-bottom: 5px;
 border-radius: 5px;
 
}

.side-bar ul li a {
  display: block;
  text-decoration: none;
  color: #000;
 
  
}

/*Blogs Style*/
.blogs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  padding:30px 15px;
  
}
.blog{
width: 150px;


padding: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 3px;
}
.blog-banner img{
  width: 150px;
  height: 150px;
}
.blog-info{
  display: flex;
  justify-content: space-between;
  
}
